name: Release

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ windows-latest, ubuntu-latest ]
    #        os: [ windows-latest, ubuntu-latest, macos-latest ]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '20'

      - name: Setup pnpm
        run: npm install -g pnpm@9

      - name: Install dependencies
        run: pnpm install

      - name: Compile project
        run: pnpm run build:compile

      - name: Build for Windows
        if: matrix.os == 'windows-latest'
        run: pnpm run build:win

      - name: Build for Linux
        if: matrix.os == 'ubuntu-latest'
        run: pnpm run build:linux

      #      - name: Build for MacOS
      #        if: matrix.os == 'macos-latest'
      #        run: pnpm run build:mac

      - name: Upload Artifacts
        uses: actions/upload-artifact@v3
        with:
          name: release-${{ matrix.os }}
          path: release

      - name: Upload to GitHub Releases
        if: matrix.os == 'windows-latest' || matrix.os == 'ubuntu-latest'
        #        if: matrix.os == 'windows-latest' || matrix.os == 'ubuntu-latest' || (matrix.os == 'macos-latest' && env.MACOS_CERTIFICATE)
        uses: softprops/action-gh-release@v1
        with:
          files: |
            release/*.exe
            release/*.zip
            release/*.deb
            release/*.AppImage
            release/*.tar.gz
            release/*.rpm
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}